.glow {
    color: #fbbf24;
    text-shadow: 0 0 5px #fbbf24, 0 0 10px #fbbf24, 0 0 15px #fbbf24, 0 0 20px #fbbf24, 0 0 25px #fbbf24, 0 0 30px #fbbf24, 0 0 35px #fbbf24;
    transition: text-shadow 0.3s ease-in-out;
  }
  
  .glow:hover {
    text-shadow: 0 0 10px #fbbf24, 0 0 20px #fbbf24, 0 0 30px #fbbf24, 0 0 40px #fbbf24, 0 0 50px #fbbf24, 0 0 60px #fbbf24, 0 0 70px #fbbf24;
  }